@charset "UTF-8";

.header_inner{
    max-width: 1000px;
    margin: auto;
    padding: 20px 100px;
    background-color:#000000;
    display: flex;
    align-items: center;
    font-family:'Century Gothic', '游ゴシック', 'Meiryo';
    color: #ffffff;
}

.title{
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

#global_navi {
    margin-bottom: 12px;
}

#global_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 1px;
}

#global_navi ul li {
    width: 140px;
    text-align: center;
}

#global_navi ul li a {
    display: block;
    padding: 10px 16px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s linear;
}

#global_navi ul li.current a {
    background-color: #000000;
}

#global_navi ul li a:hover {
    background-color: #808080;
}

h1{
  display: inline;
}

body{
  max-width: 1000px;
  margin: auto;
  display: block;
  align-items: center;
  font-family:'Century Gothic', '游ゴシック', 'Meiryo';
}
table{
  width: 50%;
  border: solid 1px black;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
    max-width: 200px;
    border: solid 1px black;
    padding: 10px 20px;
}

td {
    max-width: 200px;
    border: solid 1px black;
    padding: 10px 20px;
}

.Horizontal-heading{
  text-align: center;
  background-color:#000000;
  color: #ffffff;
}